doctype html

html
  head
    link(rel='stylesheet', href='css/widget.css')
    script(src='js/widget.js')

  body
    div(ng-include='"widget"')

    script.
      require('scripts/app');
      require('scripts/controllers');
      require('templates/widget');
      $(function(){
        angular.bootstrap(document.body, ['widget']);
      });

